// 
*, *::before, *:after {
  box-sizing: border-box;
  font: 100%;
}

body {
  background: $darkBlueMain;
  color: $white;
  font-family: 'Outfit', sans-serif;
  line-height: 12px;

  @include sm {
    background: $darkBlueMain;
  }
  @include large {
    background: $darkBlueMain;
  }
}

p, p:before, p:after {
  font-weight: 300;
  font-size: 18px;
}